[submodule "BetterTargetPlugin"]
	path = BetterTargetPlugin
	url = https://github.com/redeven/BetterTargetPlugin.git
[submodule "AutoLogin"]
	path = AutoLogin
	url = https://github.com/redeven/AutoLogin.git
[submodule "XIVInteractPlugin"]
	path = XIVInteractPlugin
	url = https://github.com/redeven/XIVInteractPlugin.git
